<div>
  <form class="col" style="width: 60%; margin: 140px auto auto;" (submit)="addOnSubmit()">
    <div class="form-group">
      <label>title</label>
      <input type="text" class="form-control" placeholder="title" value="{{ newBook.title }}" (input)="titleOnchange($event)">
    </div>
    <div class="form-group">
      <label>author</label>
      <input type="text" class="form-control" placeholder="author" value="{{ newBook.author }}" (input)="authorOnchange($event)">
    </div>
    <div class="form-group">
      <label>price</label>
      <input type="text" class="form-control" placeholder="price" value="{{ newBook.price }}" (input)="priceOnchange($event)">
    </div>
    <button type="submit" class="btn btn-success float-right">Add Book</button>
  </form>
</div>
